
<ion-view view-title="Podcast Calendar">
  <ion-content>
    <ion-list>
        <ion-item>
       
        

        <div class="calendar-container">
				
		<iframe  src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=gi48nlmmlk11ksonn6b31qbn4o%40group.calendar.google.com&amp;color=%23333333&amp;ctz=Asia%2FCalcutta" 
		style=" border-width:0 " width="800" height="600" 
		frameborder="0" scrolling="no"></iframe>

		</div>
	
	
      </ion-item>
  </ion-content>
<div class="bar bar-footer bar-positive tabs-icon-center">
                              <a class="tab-item" href="#">
                                    <i class="ion-ios-home"></i>
                                    Home
                              </a>
    
                              <a class="tab-item" href="#">
                                        <i class="ion-information-circled"></i>
                                About Us
                              </a>
    
                              <a class="tab-item" href="#">
                                  <i class="ion-ios-world"></i>
                              Contact
                            </a>

                            
         </div>

</ion-view>