<ion-view view-title="Playlist by Search">
  <ion-content>
   <ion-list >
<!--ng-repeat="items in items"-->
        <ion-item>
        Title: {{items.title}} <br>
        Description: {{items.metadata}} <br>
        Length: {{items.length}} min <br>
        Category: {{items.categories}} <br>
        Date of Broadcast: {{items.dateofbroadcast}} <br> <br> 


        <button class="button icon-left ion-play button-positive" ng-click = "showAudio()">Play</button> <br><br>


        <button class="button icon-left ion-arrow-down-b button-positive">Download</button> <br><br>

        

       
      

       <audio id="{{items.id}}" ng-hide="audioHide" controls ng-src="{{audioURL}}">
                         
                         </audio><ion-spinner ng-hide="audioHide" icon="lines"></ion-spinner> <br><br> <br><br>



<div class="tabs tabs-icon-left">
  <a class="tab-item">
    <i class="icon ion-ios-chatboxes"></i>
    Comment
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
    Favorites
  </a>
  <a class="tab-item">
    <i class="icon ion-social-facebook"></i>
    Share
  </a>
  <a class="tab-item">
    <i class="icon ion-social-twitter"></i>
    Tweet
  </a>
</div>   
                         
       


      </ion-item>
  </ion-content>
<div class="bar bar-footer bar-positive tabs-icon-center">
                              <a class="tab-item" href="#">
                                    <i class="ion-ios-home"></i>
                                    Home
                              </a>
    
                              <a class="tab-item" href="#">
                                        <i class="ion-information-circled"></i>
                                About Us
                              </a>
    
                              <a class="tab-item" href="#">
                                  <i class="ion-ios-world"></i>
                              Contact
                            </a>

                            
         </div>
  
</ion-view>

