<ion-view view-title="Search By Keyword">
  <ion-content>
   <div class="list list-inset">
  				<label class="item item-input">
    					<i class="icon ion-edit placeholder-icon"></i>
    						<input type="text" id="txtuserEnteredSearch" placeholder="Keyword">
 				 </label> <br><br>

 				  <button class="button icon-left ion-search button-positive" onclick="window.location.href='#/app/playlists/keyword/'+document.getElementById('txtuserEnteredSearch').value">Search</button> <br><br>
	</div>
  </ion-content>
  <div class="bar bar-footer bar-positive tabs-icon-center">
                              <a class="tab-item" href="#">
                                    <i class="ion-ios-home"></i>
                                    Home
                              </a>
    
                              <a class="tab-item" href="#">
                                        <i class="ion-information-circled"></i>
                                About Us
                              </a>
    
                              <a class="tab-item" href="#">
                                  <i class="ion-ios-world"></i>
                              Contact
                            </a>

                            
         </div>
</ion-view>
