
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  </head>


<body>
<ion-view view-title="Search by Category">
  <ion-content>
<ion-list>
  <ion-item>
    <!--<div class="list">-->

    <a class="item item-thumbnail-left" href="#/app/search/sports">
      <img src="img/sportscat.jpg">
      <h2>Sports</h2>
      
    </a>
</ion-item>

<ion-item>
    <a class="item item-thumbnail-left" href="#/app/search/events">
      <img src="img/eventcat.jpg">
      <h2>Events </h2>
      
    </a>
</ion-item>

<ion-item>
    <a class="item item-thumbnail-left" href="#/app/search/general">
      <img src="img/earthcat.jpg">
      <h2>General</h2>
      
    </a>
</ion-item>

<ion-item>
    <a class="item item-thumbnail-left" href="#/app/search/educational">
      <img src="img/educationcat.jpg">
      <h2>Educational</h2>
      
    </a>
</ion-tem>

</ion-list>
<!--</div>-->
  </ion-content>
  <div class="bar bar-footer bar-positive tabs-icon-center">
                              <a class="tab-item" href="#">
                                    <i class="ion-ios-home"></i>
                                    Home
                              </a>
    
                              <a class="tab-item" href="#">
                                        <i class="ion-information-circled"></i>
                                About Us
                              </a>
    
                              <a class="tab-item" href="#">
                                  <i class="ion-ios-world"></i>
                              Contact
                            </a>

                            
         </div>
</ion-view>
<body>
  </html>