
  
<ion-view view-title="Upcoming Playlists" class="bar-positive">

  <ion-content>
    <ion-list >
        <ion-item ng-repeat="items in items">
        {{items.futuredateofbroadcast}}<br>
        {{items.futuretitle}}<br>
      </ion-item>

       


  </ion-content>


  	<div class="bar bar-footer bar-positive tabs-icon-center">
                              <a class="tab-item" href="#">
                                    <i class="ion-ios-home"></i>
                                    Home
                              </a>
    
                              <a class="tab-item" href="#">
                                        <i class="ion-information-circled"></i>
                                About Us
                              </a>
    
                              <a class="tab-item" href="#">
                                  <i class="ion-ios-world"></i>
                              Contact
                            </a>

                            
         </div>

</ion-view>

 
