<!DOCTYPE html>
<head>
  <meta charset="utf-8" />

 <!-- SAD Group: this is important as viewport will allow the broswer even if on mobile to adapt to the width as we need a app
 that opens from both a mobile device as well as desktop-->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>SRH Radio123</title>

  <!--SAD Group: Link to our style sheet for all the design specs-->
  <!--<link rel="stylesheet" href="Layout.css"> -->


  
<link rel="stylesheet" type="text/css" href="css/Layout.css">
 <!--<link href="css/ionic.css" rel="stylesheet">
 <link href="css/style.css" rel="stylesheet">-->



</head>

<body>

	<div class="row">
		<div class="twelve columns">
		
		<p align="center"><h2>Welcome to SRH Radio</h2></p>
		</div>
	</div>


	<div class="row">
		<div class="twelve columns">
			<ul class="nav-bar">
 		 		<li class="active"><a href="#/">Home</a></li>
  				<li><a href="#/podcasts">Podcasts</a></li>
  				<li><a href="#">Podcast Calendar</a></li>
				<li><a href="#">News and Events</a></li>
  				<li><a href="#">Contact Us</a></li>
			</ul>
			
		</div>
	</div>



	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<div class="eight columns">
					<h3>SRH Radio : Your destination for all the Podcasts</h3>
					<p>
					If you are looking for downloading or listening to all Podcasts that we had over the last few months, click on the Podcast tab. Calendars provide an update for upcoming Podcasts.  
					
					</p>
					<img src="images/79H.jpg" />
									
				</div>

<div class="four columns">

					<h6><a>Register Here</a></h6>
					<p>Register here and help us to serve you in a much better way!!!!!</p>
					<form id="frm1" action="register.php" method="post">
							 <input class="form-control" placeholder="Username" name="name" type="text" autofocus> </br></br>
							 <input class="form-control" placeholder="Password" name="pass" type="password" value=""></br></br>
							<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus></br></br>						
							<input class="btn btn-lg btn-success btn-block" type="submit" value="register" name="register" ></br></br>  
							<br>Already registered ?</br> <br><a href="login.html">Login here</a><br>
					</form>
					
<script>
function myFunction() {
    document.getElementById("frm1").submit();
}
</script>
	</div>

	<div class="four columns">

					<h4>Whats new</h4>
					<a href="#">This HTML is driving me nuts</a><br><br>
					<a href='#'>3 nights of this dammm HTML and CSS</a>
	</div>
	
</body>


