<!DOCTYPE html>
<head>
  <meta charset="utf-8" />

 <!-- SAD Group: this is important as viewport will allow the broswer even if on mobile to adapt to the width as we need a app
 that opens from both a mobile device as well as desktop-->
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>SRH Radio</title>

  <!--SAD Group: Link to our style sheet for all the design specs-->
<link rel="stylesheet" type="text/css" href="css/Layout.css">
  


</head>

<body>

	<div class="row">
		<div class="twelve columns">
		
		<p align="center"><h2>Podcast by Category</h2></p>
		</div>
	</div>


	<div class="row">
		<div class="twelve columns">
			<ul class="nav-bar">
 		 		<li><a href="#/">Home</a></li>
  				<li class="active"><a href="#/podcasts">Podcasts</a></li>
  				<li ><a href="#">Podcast Calendar</a></li>
				<li><a href="#">News and Events</a></li>
  				<li><a href="#">Contact Us</a></li>
			</ul>
			
		</div>
	</div>



	


	<div class="row">
  				<div class="eight columns">
    				<h3>Search by clicking on a Category</h3>
    			</div>



    			
 
  				
	

	<div class="row">

		<div class = "eight columns">
  				<div class="six columns">
    				<a href="#/podcasts/lists/categories/sports"><img src = "images/sportscat.jpg"></a>
    			</div>
 
  				<div class="six columns">
    				<a href="#/podcasts/lists/categories/educational"><img src = "images/educationcat.jpg"></a>
  				</div>
		</div>



	</div>

	<div class="row">

		<div class = "eight columns">
  				<div class="six columns">
    				<a href="#/podcasts/lists/categories/events"><img src = "images/eventcat.jpg"></a>
    			</div>

    			<div class="six columns">
    				<a href="#/podcasts/lists/categories/general"><img src = "images/earthcat.jpg"></a>
  				</div>		
		</div>

		

	</div>





</div>



						
				<!--	<div class = "row">
							<div class = "four columns">
								<img src = "79H.jpg">
								<img src = "79H.jpg">
							</div> -->
					



		
</body>


